* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.action {
  display: flex;
  justify-content: center;
}

button {
  background-color: #2ac5bd;
  border: none;
  border-radius: 5px;
}

.action button {
  padding: 8px 16px;
  font-size: 30px;
}

#grid-container {
  display: grid;
  justify-content: center;
  gap: 16px;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(2, calc(120px / 2 * 2));
}

.front-image {
  width: 60px;
  height: 60px;
}

.cards.flipped {
  transform: rotateY(180deg);
}

.front {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#app {
  width: 350px;
  justify-self: center;
}

.cards .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.cards {
  width: 100px;
  position: relative;
  perspective: 1000px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
  height: calc(140px / 2 * 1.5);
  background-color: #242323;
  transform-style: preserve-3d;
  transform: all 0.5s ease-in-out;
}

.cards .front,
.cards .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.cards .back {
  background-color: #e66f6f;
  border-radius: 20px;
}
